/*outlined button*/
.btn-outline-primary {
  color: #0f9df7;
  background-image: none;
  background-color: transparent;
  border-color: #0f9df7 !important; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active,
.btn-outline-primary.focus, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover,
.open > .dropdown-toggle.btn-outline-primary {
  color: #ffffff !important;
  background-color: #0f9df7 !important;
  border-color: #0f9df7 !important; }


.btn-outline-success {
  color: #1bb99a;
  background-image: none;
  background-color: transparent;
  border-color: #1bb99a  !important; }

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active,
.btn-outline-success.focus, .btn-outline-success:active, .btn-outline-success:focus, .btn-outline-success:hover,
.open > .dropdown-toggle.btn-outline-success {
  color: #ffffff  !important;
  background-color: #1bb99a  !important;
  border-color: #1bb99a  !important; }


.btn-outline-danger {
  color: #ff5d48;
  background-image: none;
  background-color: transparent;
  border-color: #ff5d48 !important; }

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active,
.btn-outline-danger.focus, .btn-outline-danger:active, .btn-outline-danger:focus, .btn-outline-danger:hover,
.open > .dropdown-toggle.btn-outline-danger {
  color: #ffffff !important;
  background-color: #ff5d48 !important;
  border-color: #ff5d48 !important; }


/*default buttons*/

.btn-primary {
  background-color: #0f9df7 !important;
  border-color: #0f9df7 !important; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #0283d6 !important;
  border-color: #0283d6 !important;
  color: #ffffff !important; }



/*cards*/
.card {
  box-shadow: 13px 12px 40px rgba(0,0,0,0.1) !important;
  border: 1px solid lightgrey !important;
  
}

.new-alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.new-alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.new-alert-warning{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.font_size{
    font-size: 25px !important;
    color: #4e4e4e !important;
}

#content-bg{
  background: url(../dist/img/boxed-bg.jpg);
}

#sticky{
  height:650px !important;
  overflow-y: auto !important;
}